.search-section-s {
    display: flex;
    width: 100%;
    justify-content: center;
}

.searchInputs {
    margin-top: 105px;
    display: flex;
    position: relative;
  }
  
   .search input {
    width: 30rem;
    border-radius: 100px;
    border: none;
    border: 1px solid var(--border-clr);
    padding: 1rem 4rem 1rem 2rem;
    font-size: 1.8rem;
    /* border-color: var(--border-clr); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    outline: none;
    margin-top: 2rem;
  }
  
   .searchIcon {
    position: absolute;
    display: block;
    place-items: center;
    right: 14px;
    top:34px;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 20px;
  } 
  
  .dataResult {
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }

  .dataResult a {
    border:0;
    text-align: left;
    width: 100%;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
    border-radius: 0%;
  }
  
  #clearBtn {
    cursor: pointer;
  }